<div>
    <h2>Catalog of Products</h2>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-info" type="button" ng-show="isUserLoggedIn()" ng-click="navToCartPage()"> ->>Cart<<- </button>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
            <td ng-show="isUserLoggedIn()">M1</td>
            <td ng-show="isUserLoggedIn()">M2</td>
            <td ng-show="isUserLoggedIn()">Cart</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in productsPage.content">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button type="button" class="btn btn-primary" ng-show="isUserLoggedIn()" ng-click="deleteProduct(p)">Delete</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" ng-show="isUserLoggedIn()" ng-click="navToEditProductPage(p.id)">Update</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" ng-show="isUserLoggedIn()" ng-click="addProductToCart(p)">Add</button>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" ng-click="prevPage()">
                    <span>Previous</span>
                </a>
            </li>

            <li class="page-item" ng-repeat="pageIndex in paginationArray">
                <button class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</button>
            </li>

            <li class="page-item">
                <a class="page-link" ng-click="nextPage()">
                    <span>Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>